
<h3>Create a new division:</h3>

<form action="/divisions" method="post">
  <label for="title">Division Title</label>
  <input id="title" name="title" type="text">

  <button type="submit">Add Division</button>
</form>


<p>Here are all your divisions:</p>

<ul>
  <% @divisions.each do |division| %>
    <li><a href="/division/<%= division.id()%>"><%= division.title %></li>
  <% end %>
</ul>
