<h3>Create a new division:</h3>

<form action="/division" method="post">
  <label for="title">Division Title</label>
  <input id="title" name="title" type="text">

  <button type="submit">Add Division</button>
</form>
