<h3>Create a new employee:</h3>

<form action="/employees" method="post">
  <label for="name">Employee Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Employee</button>
</form>


<p>Here are all your employees:</p>

<ul>
  <% @employees.each do |employee| %>
    <li><a href="/employee/<%= employee.id()%>"><%= employee.name %></a></li>
  <% end %>
</ul>
