<h3>Create a new employee:</h3>

<form action="/employee" method="post">
  <label for="name">Employee Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Employee</button>
</form>
