<h1>Employee Tracker</h1>

<div class="container">
  <p><a href="/divisions">Manage Divisions</a></p>
  <p><a href="/projects">Manage Projects</a></p>
  <p><a href="/employees">Manage Employees</a></p>
</div>
