<h1>Employee Tracker</h1>

<div class="container">
  <p><a href="/division/new">Add New Division</a></p>
  <p><a href="/employee/new">Add New Employee</a></p>
  <p><a href="/divisions">View Divisions</a></p>
  <p><a href="/employees">View Employees</a></p>
</div>
